.conteiner0 {
    width: 1480px;
    height: 1282px;
    border: 1px solid white;
}

.text1 {color: blue;

}
.h1 { margin-left: 50px; font-size: 60px;
}
.ul {
    color: white;
    background-color: grey;
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.button {
    outline: none;
    border: none;
    background: none;
    color: white;
}

.conteiner {
    display: flex;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.conteiner2 {
    width: 344px;
    height: 399px;
    border: 1px solid black;



}

.ul2 {
    margin: 40px;
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;

}
.text2 {color: red;
    padding-left: 50px;

}
.li2 {
    background-color: grey;
}
.img {
    width: 320px;
    height: 381px;
    text-align: center;
    padding: 50px;
}
.conteiner3 {
    border: 1px solid black;
    width: 885px;
    height: 529px;
    text-align: center;
}
.conteinercontent {
    display: flex;
    justify-content: space-around;
}
.text3 {
    padding: 50px;
    font-size: 20px;
    text-align: left;

}
.text4 {
    text-align: left;
    padding: -15px;
    font-size: 20px;
}
.content4 {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: grey;
    width: 63%;
    justify-content: space-around;
}
.ramda-text {
    color: blue;
}